<!DOCTYPE html>
<html>
<head>
    <title>Record App</title>
</head>
<body>
    <h1>Ttacking data</h1>
    <ul>
        {% for record in records %}
        <li><strong>{{ record.title }}</strong>: {{ record.content }}</li>
        {% endfor %}
    </ul>
    <form method="post" action="{% url 'create_record' %}">
        {% csrf_token %}
        <label for="title">Title:</label>
        <input type="text" id="title" name="title" required><br>
        <label for="content">Content:</label>
        <textarea id="content" name="content" required></textarea><br>
        <button type="submit">Create Record</button>
    </form>
</body>
</html>
