<!DOCTYPE html>
<html>
<head>
    <title>Tracking App</title>
</head>
<body>
    <h1>vehicle tracking data</h1>
    <ul>
        {% for record in records %}
        <li>{{ record.id}}</li>
        <li> {{ record.vehicleid }}</li>
        <li> {{ record.timestamp }}</li>
        <li> {{ record.coordinate_longitude }}</li>
        <li> {{ record.coordinate_latitude }}</li>
        <li> {{ record.event_description}}</li>
        <li> {{ record.speed}}</li>
        <li> {{ record.heading }}</li>
        <li> {{ record.ignitionState }}</li>
        <li> {{ record.gps_accuracy }}</li> 
        <li> {{ record.gps_fix_type }}</li>
        
        
        {% endfor %}
    </ul>
</body>
</html>
